@model engineering
@{
    ViewBag.Title = "Modify";
}

<h2>修改信息</h2>
@using (Html.BeginForm("Modify", "Home", FormMethod.Post))
{

    <text>编号</text>@Html.TextBoxFor(model => model.id)
    <br />
    <br />
    <text>姓名</text>@Html.TextBoxFor(model => model.name)
    <br />
    <br />
    <text>性别</text>@Html.TextBoxFor(model => model.sex)
    <br />
    <br />
    <text>学历</text>@Html.TextBoxFor(model => model.education)
    <br />
    <br />
    <text>籍贯</text>@Html.TextBoxFor(model => model.place)
    <br />
    <br />
    <text>地址</text>@Html.TextBoxFor(model => model.address)
    <br />
    <br />
    <text>电话</text>@Html.TextBoxFor(model => model.telephone)
    <br />
    <br />
    <text>工龄</text>@Html.TextBoxFor(model => model.workage)
    <br />
    <br />
    <text>工资</text>@Html.TextBoxFor(model => model.salary)
    <br />
    <br />
    <text>出生日期</text>@Html.TextBoxFor(model => model.birth)
    <br />
    <br />
    <input type="submit" value="确认" />
    @Html.ActionLink("返回", "EditData", "Home")
}

